
body {
  width: 1365px;
  margin: 0;
  background-image:url("https://cdn.oboi7.com/static/images/m/86/44/8644507688bc2623456a8db6cff9e0364e24152e.jpg");
  background-size:cover; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
